name: "Maven Application Pipeline"
on:
  push:
    branches: ["master"]
jobs:
  build:
    runs-on: ["ubuntu-latest"]
    steps:
      - name: "Display Message"
        run: "echo Initiating Build : ${{github.run_number}}"
      - name: "Checkout Code"
        uses: actions/checkout@v6
        with:
          ref: master
      - name: "Maven Setup"
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: '21'
          cache: 'maven'

      - name: "Build With Maven"
        run: "mvn -Dskiptests clean package"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: target/spring-boot-0.0.1-SNAPSHOT.jar

  test:
    runs-on: ["ubuntu-latest"]
    steps:
       - name: "Download Artifact"
         uses: actions/download-artifact@v4
         with: 
            name: build-output

       - name: "Test Application Run"
         run: |
            java -jar spring-boot-0.0.1-SNAPSHOT.jar &
            PID=$!
            sleep 15
            curl http://localhost:8080/actuator/health
            kill $PID
        